
<div align="center" class="container form">

<h1 class="edit-title-profile">Profile</h1>

<%= form_for @user do |t| %>

  <div class="form-group">
    <p>Name:</p>
    <%= t.text_field :name , placeholder: "Random" , class: "form-control" %>
  </div>

  <div class="form-group">
    <p>Email:</p>
    <%= t.email_field :email , placeholder: "email@example.com" , class: "form-control" %>
  </div>

  <div class="form-group">
    <p>Course:</p>
    <%= t.text_field :course , placeholder: "LEE, METI ..." , class: "form-control" %>
  </div>

  <div class="form-group">
    <p>Phone Number:</p>
    <%= t.text_field :phone_number , placeholder: "888 222 555" , class: "form-control" %>
  </div>

  <div class="form-group">
    <p>Password:</p>
    <%= t.password_field :password , class: "form-control"%>
  </div>

  <div class="form-group ">
    <%= t.submit "Save" , class: "btn btn-lg btn-primary edit-buttom-save" %>
  </div>

<% end %>

</div>
