


<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-md-offset-3 col-md-6">
    	 <div class="well profile">
            <div class="col-md12">
                <div class="col-xs-12 col-sm-8">
                    <h1 class="users-users"><p><%=@user.name%></p></h1>
                    <p><strong>Email: </strong> <%=@user.email%></p>
                    <p><strong>Phone: </strong> <%=@user.phone_number%></p>
                    <p><strong>Course: </strong> <%=@user.course%></p>
                    <p><strong>Interests: </strong> <%=@user.interests%></p>
                    <p><strong>Skills: </strong> <%=@user.skills%></p>
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <%= image_tag @current_user.avatar.url(:thumb), class: "img-circle image-responsive " %>

                    </figure>
                </div>
            </div>
    	 </div>
		</div>
	</div>
</div>