<p><strong>Name:</strong> <%=@user.name%></p>
<p><strong>Email:</strong> <%=@user.email%></p>
<p><strong>Phone:</strong> <%=@user.phone_number%></p>
<p><strong>Course:</strong> <%=@user.course%></p>
<p><strong>Interests:</strong> <%=@user.interests%></p>
<p><strong>Skills:</strong> <%=@user.skills%></p>
