
<table class="myTABLE">

  <tr>
    <td> <div class="format-table-first-column"> <p><strong>Name:</strong></p> </div>  </td>
    <td> <div class="format-table-second-column"> <p><%=@user.name%></p> </div> </td>
  </tr>


  <tr>
    <td> <div class="format-table-first-column"> <p><strong>Email:</strong></p> </div> </td>
    <td> <div class="format-table-second-column"> <p><%=@user.email%></p> </div> </td>
  </tr>

  <tr>
    <td> <div class="format-table-first-column"> <p><strong>Phone:</strong></p> </div> </td>
    <td> <div class="format-table-second-column"> <p><%=@user.phone_number%></p></div> </td>
  </tr>

  <tr>
    <td> <div class="format-table-first-column"> <p><strong>Course:</strong></p> </div> </td>
    <td> <div class="format-table-second-column"> <p><%=@user.course%></p></div> </td>
  </tr>

  <tr>
    <td> <div class="format-table-first-column"> <p><strong>Interests:</strong></p> </div> </td>
    <td> <div class="format-table-second-column"> <p><%=@user.interests%></p></div> </td>
  </tr>

  <tr>
    <td> <div class="format-table-first-column"> <p><strong>Skills:</strong></p> </div> </td>
    <td> <div class="format-table-second-column"> <p><%=@user.skills%></p></div> </td>
  </tr>

</table>