
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2><%=@user.name%></h2>
                    <p><strong>Course: </strong><%=@user.course%></p>
										<% if @interests %>
                    <p><strong>Interests: </strong>
											<% @interests.each do |interest| %>
                        <span class="tags interest"><%= interest %></span>
											<% end %>
                    </p>
										<% end %>
										<% if @skills %>
                    <p><strong>Skills: </strong>
											<% @skills.each do |skill| %>
                        <span class="tags"><%= skill %></span>
											<% end %>
                    </p>
										<% end %>
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <%= image_tag @user.avatar.url(:thumb), class: "img-md image-responsive " %>
                    </figure>
                </div>
            </div>
            <div class="col-xs-12 divider">
                <div class="col-xs-12 col-sm-4">
                    <h3><strong>Contacts</strong></h3>
                    <p><strong>Email: </strong><%=@user.email%></p>
										<p><strong>Phone Number: </strong><%=@user.phone_number%></p>
                </div>
            </div>
						<% if @user.github_link %>
							<div class="col-xs-2 col-sm-1 ">
								<a href="<%= @user.github_link %>" class="github-link social-link"></a>
							</div>
						<% end %>
						<% if @user.linkedin_link %>
							<div class="col-xs-2 col-sm-1 <% if @user.github_link %>col-md-offset-1<%end%>">
								<a href="<%= @user.linkedin_link %>" class="linkedin-link social-link"></a>
							</div>
						<% end %>
    	 </div>
		</div>
	</div>
  <!--  Events from the Organization -->
	<% if @user.projects.any? %>
  <h1 align="center" class="sub-sub-title">Projects</h1>
  <div class="row flex-between">
      <% @user.projects.each do |t| %>
              <div class="card proj">
                  <div class="avatar">
                      <%= image_tag t.avatar.url(:thumb), class: "image-responsive" %>
                  </div>
                  <div class="content">
                      <p class="searchable">
                        <%= t.title %> <br>
                        <%= t.description %>
                        <%= t.category %>
                      </p>
                      <p>

                        <%= link_to "Details", project_path(t), class: "btn btn-default btn btn-primary " %>
                  </div>
              </div>
        <% end %>
  </div>
	<% end %>
</div>

<script type="text/javascript">

  $(document).ready(function() {

    var timeoutID = null;

    function findMember(str) {
      $('.users-list li').each(function(){
        var text = $(this).text()

        if(text.search(str) < 0)
          $(this).fadeOut();
          else
          $(this).fadeIn();

      });
    }

    $('#search').keyup(function(e) {
      clearTimeout(timeoutID);
      timeoutID = setTimeout(findMember.bind(undefined, e.target.value), 500);
    });

  });
</script>
