<section id="new-profile">
  <div align="center" class="container container-max form">

    <h1 class="new-title-sign-up">New Event</h1>

    <%= form_for @event, html: { multipart: true } do |t| %>

      <div class="form-group">
        <p>Title:</p>
        <%= t.text_field :title , placeholder: "BreakingDev Hackathon" , class: "form-control" %>
      </div>

      <div class="form-group">
        <p>Description:</p>
        <%= t.text_area :description , rows: "4" , placeholder: "Esta competição tem o objetivo de proporcionar uma oportunidade de realizar um projeto na categoria de preferência do grupo (Mobile, Web ou Jogos) ..." , class: "form-control" %>
      </div>

<!--       <div class="form-group">
        <%= label_tag :checkbox, "checkbox" %>
        <%= check_box_tag("name", "value", false, class: "checkbox") %>
      </div>
 -->
      <div class="form-group">
        <%= t.file_field :avatar %>
      </div>

      <div class="form-group">
        <%= t.submit "Create Event" , class: "btn btn-primary new-buttom-project" %>
      </div>
    <% end %>

    <%= render "shared/errors", obj: @event %>
  </div>
</section>
