<% if @latest_projects.count != 0 %>
  <div class="container-fluid">
    <h1 align="center" class="sub-title">Latest Projects</h1>
    <div class="flex-between">
      <% @latest_projects.each do |t| %>
              <div class="card proj">
                <div class="avatar">
                    <%= image_tag t.avatar.url(:thumb), class: "image-responsive" %>
                </div>
                  <div class="content">
                      <p class="searchable">
                        <strong><%= t.title %></strong> <br>
                        Created by: <%= t.user.name %></p>
                      <%= link_to "Details", project_path(t), class: "btn btn-default" %>
                  </div>
              </div>
        <% end %>
    </div>
  </div>
<% end %>


<% if @latest_events.count != 0 %>
  <div class="container-fluid">
    <h1 align="center" class="sub-title">Latest Events</h1>
    <div class="flex-between">
      <% @latest_events.each do |t| %>
              <div class="card event">
                <div class="avatar">
                    <%= image_tag t.avatar.url(:thumb), class: "image-responsive" %>
                </div>
                  <div class="content">
                      <p class="searchable">
                        <strong><%= t.title %></strong> <br>
                      <%= link_to "Details", event_path(t), class: "btn btn-default" %>
                  </div>
              </div>
        <% end %>
    </div>
  </div>
<% end %>
