<h1>
  <%= @current_user.name %>
</h1>
<div class="navigation">
  <img src="" alt="Logo-ISTCollab" class="img-responsive">
  <ul>

  <li><%= link_to "Profile", edit_user_path(@current_user), class: "btn btn-default btn-xs home-button-LogIn "  %></li>
  <li><%= link_to "Users", users_path(), class: "btn btn-primary btn-sm home-button-LogIn "  %></li>
  <li><%= link_to "Projects", users_path(), class: "btn btn-primary btn-sm home-button-LogIn "  %></li>
  <li><%= link_to "LogOut", logout_path(), method: "delete", class: "btn btn-primary btn-sm home-button-LogIn "  %></li>
</ul>
