<div class="container">

  <h1>Projects Database</h1>

  <% @projects.each do |t| %>
    <!--  put each user information  -->
    <%= link_to user_path(t) do %>
      <div class="jumbotron">
        <p><strong>Title:</strong> <%=t.title%></p>
        <p><strong>Description:</strong> <%=t.description%></p>
        <p><strong>Categories:</strong> <%=t.category%></p>
        <p><strong>Skills:</strong> <%=t.skills%></p>
      </div>
    <% end %>
  <% end %>
</div>