
<div align="center" class="container">

  <h1>New Project</h1>

  <%= form_for @project do |t| %>
    <div class="form-group">
      <p>Title:</p>
      <%= t.text_field :title , placeholder: "Project X" , class: "form-control" %>
    </div>
    <div class="form-group">
      <p>Description:</p>
      <%= t.text_area :description , rows:"4" , placeholder: "This project makes someones life easier!" , class: "form-control" %>
    </div>
    <div class="form-group">
      <p>Category:</p>
      <%= t.text_field :category , placeholder: "Web Development, Mobile Development ..." , class: "form-control" %>
    </div>
    <div class="form-group">
      <p>Skills:</p>
      <%= t.text_field :skills , placeholder: "Android, Ruby On Rails" , class: "form-control" %>
    </div>
    <div class="form-group">
      <%= t.submit "Create Project" , class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
