<p><strong>Title:</strong> <%=@project.title%></p>
<p><strong>Creator:</strong> <%=@project.user.name%></p>
<p><strong>Categories:</strong> <%=@project.category%></p>
<p><strong>Skills:</strong> <%=@project.skills%></p>
<p><strong>Description:</strong> <%=@project.description%></p>