<div class="container-fluid">
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile org">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2> <%=@organization.title%></h2>

                    <p><strong>Admin: </strong><%= link_to @organization.user.name, user_path(@organization.user) %></p>

                    <p><strong>Description: </strong> <%=@organization.description%></p>

                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                          <%= image_tag @organization.avatar.url(:thumb), class: "img-md image-responsive " %>
                    </figure>
                </div>
                </div>
                <div class="col-xs-12 divider">
                <div class="col-xs-12 col-sm-4">
                    <h3><strong>Contacts</strong></h3>
                    <p><strong>Email: </strong><%=@organization .user.email%></p>
										<p><strong>Phone Number: </strong><%=@organization .user.phone_number%></p>

                      <% if @current_user.id == @organization .user.id  %>
                <% end %>

                </div>
            </div>
						<% if @current_user.id == @organization.user.id  %>
             <div class="row">
               <div align="center" class="center-block col-xs-offset-4">
                 <%= link_to "New Event", new_event_path(), class: "btn btn-default btn btn-primary " %>
             </div>
             </div>
				 <% end %>
    	 </div>
		</div>
	</div>
</div>

<!--  Events from the Organization -->
  
  <h1 align="center" class="sub-sub-title">Events</h1>
  <div class="row flex-between">
      <% @organization.events.each do |t| %>
              <div class="card event">
                  <div class="avatar">
                      <%= image_tag t.avatar.url(:thumb), class: "image-responsive" %>
                  </div>
                  <div class="content">
                      <p class="searchable">
                        <%= t.title %> <br>
                        <%= t.description %>
                        <%= t.category %>
                      </p>
                      <p>

                        <%= link_to "Details", event_path(t), class: "btn btn-default btn btn-primary " %>
                  </div>
              </div>
        <% end %>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function() {

    var timeoutID = null;

    function findMember(str) {
      $('.users-list li').each(function(){
        var text = $(this).text()

        if(text.search(str) < 0)
          $(this).fadeOut();
          else
          $(this).fadeIn();

      });
    }

    $('#search').keyup(function(e) {
      clearTimeout(timeoutID);
      timeoutID = setTimeout(findMember.bind(undefined, e.target.value), 500);
    });

  });
</script>
